ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    text-align: center ;
    border: 2px solid gray;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 10px;
    font-size: 2rem;
}
.icon{
    display: inline-block;
    background-image: url("./0-sprite.png");
    height: 400px;
    width: 300px;
}

li span.i-css{
    background-position: center;
}

li span.i-js{
    background-position: right;
}

li span.i-html{
    background-position: left;
}
